body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #222;
  color: white;
  padding: 15px;
  text-align: center;
}

select {
  margin-top: 10px;
  padding: 6px;
}
